.header {
  color: var(--default-color);
  background-color: var(--header-background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 12px;
    }

    h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 700;
      color: var(--header-color);
      white-space: nowrap;
    }

    span {
      font-size: 32px;
      font-weight: 700;
      color: var(--accent-color);
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .logo {
      order: 1;
    }

    .btn-getstarted {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 15px;

      &:focus {
        order: 2;
        margin: 0 15px 0 0;
        padding: 6px 15px;
      }
    }

    .navmenu {
      order: 3;
    }
  }
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}
